:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

* {
    width: 100%;
    height: 100%;
}
body {
    background-color: rgb(150,150,150);
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.interfaceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    min-width: 500px;
    max-height: 600px;
}
.gridContainer {
    max-width: inherit;
    min-width: inherit;
    max-height: 500px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(120,120,120,.4);
    background-color: rgb(215,215,215);
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 3px 3px 25px rgb(75,75,75);
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cell{
    display: flex;
    /*border: solid 1px rgb(100,100,100,0.2);*/
    color: white;
    justify-content: center;
    align-items: center
}

.controlsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    width: inherit;
}




.sliderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.sizeSlider {
    display: flex;
    width: 100px;
    height: 20px;
}
.sizeSlider::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
}
.sizeSlider::-webkit-slider-thumb {
    height: 36px;
}
.sliderValue {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}



.toggleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.toggleContainer h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}




.resetButton {
    background-color: #2196F3;
    color: white;
    height: 40px;
    border-radius: 10px;
}





select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}
.patternSelector {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    height: 40px;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    display: grid;
    grid-template-areas: 'patternSelector';
    align-items: center;
}
.patternSelector::after {
    content: '';
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0% 0%, 50% 100%);
    justify-self: end;
}
select,
.patternSelect::after {
    grid-area: patternSelector;
}